/_1_basics/.idea/compiler.xml
/_1_basics/.idea/misc.xml
/_1_basics/.idea/workspace.xml
/_1_basics/_1_basics.iml
/_1_basics/target/_1_basics-1.0-SNAPSHOT.jar
/_1_basics/target/classes/pl/kamil/Main.class
/_1_basics/target/classes/pl/kamil/MyRoute.class
/_1_basics/target/maven-archiver/pom.properties
/_1_basics/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/_1_basics/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/_1_basics/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
